<%= form_with(model: award, local: true, url: confirm_awards_path) do |form| %>
  <% if award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_area :contents, id: :award_contents %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day, id: :award_day %>
  </div>

  <div class="field">
    <%= form.select :award_category_id, AwardCategory.all.map{|k| ["#{k.level}", k.id]} %>
  </div>

  <div class="field">
    <%= form.label :sports %>
    <%= form.check_box :award_tag_ids, {multiple: true}, 1, false %>
    <%= form.label :art %>
    <%= form.check_box :award_tag_ids, {multiple: true}, 2, false %>
    <%= form.label :study %>
    <%= form.check_box :award_tag_ids, {multiple: true}, 3, false %>
  </div>

  <%= form.hidden_field :giver_id, value: current_user.id %>
  <%= form.hidden_field :given_id, value: params[:given_id] %>

  <div class="actions">
    <%= form.submit "確認画面へ" %>
  </div>
<% end %>
