<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @award.contents %>
</p>

<p>
  <strong>Day:</strong>
  <%= @award.day %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
